In [1]:
import pandas as pd
import numpy as np

In [2]:
data_original=pd.read_csv("/Users/jeffworker/Documents/GitHub/Bootcamp/Ejercicios/attacks.csv",sep=',', encoding='latin-1')

In [3]:
data = data_original.copy()

In [4]:
data.shape

(25723, 24)

In [5]:
# Reemplazamos los espacios por nada
lista_columns = list(data.columns)
columns_ok = []

for columna in lista_columns:
    columns_ok.append(columna.replace(" ", ""))

data.columns = columns_ok

In [6]:
# Eliminamos duplicados
data.drop_duplicates(inplace=True)

In [7]:
data.shape

(6312, 24)

In [8]:
# Visualizar
nan_cols = data.isna().sum()

In [9]:
# Borramos los que no tienen pais
sin_country= []

for fila in data.index:
    if pd.isna(data['Country'][fila]):
        sin_country.append(fila)

data.drop(labels=None, axis=0, index=sin_country, columns=None, level=None, inplace=True, errors='raise')

In [10]:
data.shape

(6252, 24)

In [11]:
# Borramos todas las filas que tenga mas de 5 campos en NaN

lista_de_nans = []

totalDeNans = 0
for fila in data.index:
    for columna in list(data.columns):
        if pd.isna(data[columna][fila]):
            totalDeNans = totalDeNans + 1
        if totalDeNans > 5:
            lista_de_nans.append(fila)
    totalDeNans = 0

data.drop(labels=None, axis=0, index=lista_de_nans, columns=None, level=None, inplace=True, errors='raise')

In [12]:
data.shape

(5332, 24)

In [13]:
 #modificar NaN en location por Unknown
data['Location'] = data['Location'].fillna('Unknown')

In [14]:
data['Area'] = data['Area'].fillna('Unknown') #modificar NaN en Area por Unknown

In [15]:
# Para ver cuantos isNan hay por Columna
#data.isna().sum()

In [16]:
# Borramos los duplicados de 4 Columnas
data.drop_duplicates(subset=['Country', 'Area', 'Location', 'Activity'], keep='first', inplace=True, ignore_index=False)

In [17]:
data.shape

(4738, 24)

In [18]:
# modificar actividad 0 o nan por unknown
data['Activity'] = data['Activity'].str.replace('0','Unknown') 
data['Activity'] = data['Activity'].fillna('Unknown')

In [19]:
#Quitar Nan, N y . en Sex.

sin_sexo= []

for fila in data.index:
    if pd.isna(data['Sex'][fila]):
        sin_sexo.append(fila)
    if data['Sex'][fila] == 'N':
        sin_sexo.append(fila)
    if data['Sex'][fila] == '.':
        sin_sexo.append(fila)
        
data.drop(labels=None, axis=0, index=sin_sexo, columns=None, level=None, inplace=True, errors='raise')

In [20]:
data.shape

(4528, 24)

In [21]:
#Â Modificamos 'M ' por 'M'
data['Sex'] = data['Sex'].str.replace('M ','M')

In [22]:
#lista_dates = list(data['Date'].value_counts().head())
#lista_dates

In [23]:
# Sustituiomos en Date los Reported por ''
# Borramos todas las fechas que pongan Before
before = []
for fila in data.index: 
    if data['Date'][fila].find('Reported') != -1:
        #print(data['Date'][fila])
        data['Date'] = data['Date'].str.replace('Reported ','')
    
    if data['Date'][fila].find('Before') != -1:
        before.append(fila)

data.drop(labels=None, axis=0, index=before, columns=None, level=None, inplace=True, errors='raise')

In [24]:
data.shape

(4480, 24)

In [27]:
# Borramos los que no tienen Edad
sin_age= []

for fila in data.index:
    if pd.isna(data['Age'][fila]):
        sin_age.append(fila)

data.drop(labels=None, axis=0, index=sin_age, columns=None, level=None, inplace=True, errors='raise')

In [29]:
data.shape

(2912, 24)